body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #0F2167;
}

.scroll-container {
    background: #92C7CF;
    width: 25rem;
    padding: 30px;
}

.scroll-div{
    width: 400px;
    height: 500px;
    background: #92C7CF;
    overflow: auto;
}

.scroll-object {
    padding: 20px;
}